.profile {
    padding: 30px;
    background-color: rgb(234, 171, 55);
    margin: 0 30%;
    position: relative;
    top: 100px;
    border-radius: 20px;
    color: white;

    .title {
        display: inline-block;
        width: 100px;
    }
}