.table td,
.table th {
    border: 1px solid #fff;
    padding: 8px;
}

.table tr {
    background-color: #d6b69b;
}

.table tr:hover {
    background-color: #ef8348;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #023e72;
    color: #fff;
}

#title {
    text-align: center;
    font-family: arial, sans-serif;
}

.table {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}